<div class = "w-full ">
  <%= form_with(model: restaurant, local: true) do |form| %>
    <div class = "block md:flex md:flex-wrap md:-mx-3 md:mb-6">
      <div class = "md:w-1/4 py-4 px-10">
        <%= image_tag("pizza.jpg") %>
        <%= form.label :image_url, :class => "form-label"  %>
        <%= form.text_field :image_url, :class => "w-56 md:w-full form-box", id: :restaurant_image_url %>
      </div>
      <div class = "md:w-3/4 py-4, px-10">
        <% if restaurant.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

            <ul>
              <% restaurant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-1/2 px-3">
            <%= form.label :name, :class => "form-label", id: :restaurant_name %>
            <%= form.text_field :name, :class => "form-box" ,
                                id: :restaurant_description,:placeholder => "La Tentadora" %>
<!--            focus:outline-none focus:bg-white focus:border-gray-500-->
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <%= form.label :description, :class => "form-label", id: :restaurant_name %>
            <%= form.text_area :description, :class => "form-box" ,
                                rows: 5, cols:20,
                                id: :restaurant_description,:placeholder => "Restaurant Description" %>
          </div>
        </div>

<!--        <div class="flex flex-col mb-4 md:w-1/2">-->
<!--          <label class="mb-2 uppercase tracking-wide font-bold text-lg text-grey-darkest" for="first_name">First Name</label>-->
<!--          <input class="border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="first_name" id="first_name">-->
<!--        </div>-->
<!--        <div class="flex flex-col mb-4 md:w-1/2">-->
<!--          <label class="mb-2 uppercase font-bold text-lg text-grey-darkest md:ml-2" for="last_name">Last Name</label>-->
<!--          <input class="border py-2 px-3 text-grey-darkest md:ml-2" type="text" name="last_name" id="last_name">-->
<!--        </div>-->
        <div class="flex items-center w-full ">
          <div class="flex flex-col mb-4 w-1/2">
            <span class="form-label ">Price Range</span>
            <div class="mt-2">
              <div>
                <%= form.radio_button :price_type, "All Prices", :class => "form-radio"  %>
                <%= label_tag :price_0, "All Prices" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.radio_button :price_type, "$", :class => "form-radio"  %>
                <%= label_tag :price_1, "$" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.radio_button :price_type, "$$", :class => "form-radio"  %>
                <%= label_tag :price_2, "$$" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.radio_button :price_type, "$$$", :class => "form-radio"  %>
                <%= label_tag :price_3, "$$$" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.radio_button :price_type, "$$$$", :class => "form-radio"  %>
                <%= label_tag :price_4, "$$$$" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
            </div>
          </div>
          <div class="flex flex-col mb-4 w-1/2">
            <span class="form-label">Restaurant Type</span>
            <div class="mt-2">
              <div>
                <%= form.check_box :breakfast, :class => "form-checkbox"  %>
                <%= label_tag :breakfast, "Breakfast" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.check_box :brunch, :class => "form-checkbox"  %>
                <%= label_tag :brunch, "Brunch" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.check_box :snacks,  :class => "form-checkbox"  %>
                <%= label_tag :snacks, "Snacks" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.check_box :lunch,  :class => "form-checkbox"  %>
                <%= label_tag :lunch, "Lunch" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
              <div>
                <%= form.check_box :dinner,  :class => "form-checkbox"  %>
                <%= label_tag :dinner, "Dinner" , :class => "inline-flex items-center ml-2 text-gray-700"%>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :address %>
          <%= form.text_area :address, id: :restaurant_address, rows: 10, cols:20 %>
        </div>

        <div class="actions">
          <%= form.submit  class:"btn btn-purple" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
